<app-general-navbar></app-general-navbar>
<app-user-navbar></app-user-navbar>
<app-modal #myModal></app-modal>

<div class="container">
        <form #form="ngForm" [formGroup]="userForm" (ngSubmit)="create()">
        <div class="row">
            <div class="col-8 col-sm-8">
                <h1>{{ 'USER_ADD.ADDUSER' | translate }}</h1>
            </div>
        </div>

        <hr>  
        <br> 


        <div class="form-row">	
            <div class="col-8 col-sm-6"> 
                <input type="file" (change)="imageSelected($event)">
                <div class="img-space">
                    <ng-container *ngIf="isImageSaved;">
                        <img [src]="imgURL" *ngIf="imgURL" style="width:200px">
                    </ng-container>
                </div>
                <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">{{ 'USER_ADD.REMOVE' | translate }}</a>
            </div>
            

            <div class="col-12 col-sm-6">
                <div class="form-row">	
        	
                    <div class="col-8 col-sm-6">
                        <b><label for="formGroupExampleInput">{{ 'USER_VIEW.FIRSTNAME' | translate }}</label></b>   
                        <input  type="text" formControlName="firstname" class="form-control"  placeholder="{{ 'USER_ADD.FIRSTNAME' | translate }}">
                    </div>
                    <div class="col-12 col-sm-6">
                        <b><label for="formGroupExampleInput">{{ 'USER_VIEW.LASTNAME' | translate }}</label></b>
                        <input  type="text" formControlName="lastname" class="form-control" placeholder="{{ 'USER_ADD.LASTNAME' | translate }}">
                    </div>
                </div>
                
                <div class="form-row">	  
                    <div class="col-12 col-sm-12">
                        <b><label for="formGroupExampleInput">{{ 'USER_VIEW.ADDRESS' | translate }}</label></b>
                        <input  type="text" formControlName="address" class="form-control" placeholder="{{ 'USER_ADD.ADDRESS' | translate }}">
                    </div>
                </div>
            </div>
        </div>


        <div class="form-row">	
            <div class="col-12 col-sm-4">
                <b><label for="formGroupExampleInput">{{ 'USER_VIEW.USERNAME' | translate }}</label></b>
                <input type="text" formControlName="username" class="form-control" placeholder="{{ 'USER_ADD.USERNAME' | translate }}">
            </div>

    
            <div class="col-12 col-sm-4">
                <b><label for="formGroupExampleInput">{{ 'USER_ADD.PASSWORD' | translate }}</label></b>
                <input type="password" formControlName="newPass"  class="form-control" placeholder="{{ 'USER_ADD.PASSWORD' | translate }}">
            </div>

            <div class="col-12 col-sm-4">
                <b><label for="formGroupExampleInput">{{ 'USER_VIEW.PASSCONFIRM' | translate }}</label></b>
                <input formControlName="confirmPass" [class.is-invalid]="userForm.controls.confirmPass.value!=userForm.controls.newPass.value && (userForm.controls.confirmPass.dirty && userForm.controls.newPass.dirty|| form.submitted)" type="password" class="form-control" placeholder="{{ 'USER_VIEW.PASSCONFIRM' | translate }}">
                <div class="invalid-feedback">
                    {{ 'USER_VIEW.E5' | translate }}
                </div>  
            </div>  
        </div>
            
            <hr> 
            

            <div class="form-row">
                <div class="col-12">
                    <h1>{{ 'USER_ADD.ADMIN' | translate }}</h1>
                    <label style="margin: 0% 20% 2% 2%" class="switch">
                        <input type="checkbox" formControlName="isAdmin">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

            <div class="form-row">
                <div class="col-4">
                    <button style="color: #1b1e21 ; margin: 0% 3% 0% 2%  " class="btn btn-success" type="submit"data-toggle="tooltip" data-placement="right" title="create a new user">{{ 'USER_ADD.CREATEBT' | translate }}</button>
                    <button (click)="return()" style="margin:0% 1% 0% 0%" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="right" title="return to subject list">{{ 'USER_ADD.CANCELBT' | translate }}</button> 
                </div>
            </div>
        </form>
</div>