<nav style="background-color: #6c757d" class="navbar navbar-expand-lg navbar-light">
    <a style="color: #ffffff" class="navbar-brand">{{ 'NAVBAR_SERVICE.TITLE' | translate }}</a>
    <ul class="navbar-nav mx-auto">
        <ol  class="nav justify-content-center">
            <li class="breadcrumb-item"><a style="color: #ffffff" href="/rooms">{{ 'NAVBAR_SERVICE.LISTITEM' | translate }}</a></li>
            <li class="breadcrumb-item"><a  style="color: #ffffff" href="/rooms/add">{{ 'NAVBAR_SERVICE.ADDITEM' | translate }}</a></li>
            <li class="breadcrumb-item "><a  style="color:#ffffff" href="/services">{{ 'NAVBAR_SERVICE.LISTTAG' | translate }}</a></li>
            <li class="breadcrumb-item "><a  style="color: #ffffff" href="/services/add">{{ 'NAVBAR_SERVICE.ADDTAG' | translate }}</a></li>
        </ol>
    </ul>
</nav>

