<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img style="width: 20px;height: 20px;" src="assets/icon.png" alt="Icon">
    <a style="margin:0% 0% 0% 1%" class="navbar-brand" href="/users">Marbles</a>
    <ul class="navbar-nav mx-auto">
        <ol class="nav justify-content-center">
            <li><a href="/users">{{ 'NAV.NAVTITLEUSER' | translate }}</a></li>
            <li><a href="/mentors">{{ 'NAV.NAVTITLEMENTOR' | translate }}</a></li>
            <li><a href="/rooms">{{ 'NAV.NAVTITLEROOM' | translate }}</a></li>
            <li><a href="/books">{{ 'NAV.NAVTITLEBOOK' | translate }}</a></li>
            <li><a href="/reports">{{ 'NAV.NAVTITLEREPORTS' | translate }}</a></li>
        </ol>
    </ul>

    <select style="margin: 0% 1% 0% 0%" class="form-inline my-2 my-lg-0" #langSelect (change)="setLanguage(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>

    <button style="margin:0% 1% 0% 0%" class="btn btn-info my-2 my-sm-0" (click)="redirectProfile()" type="submit">{{ 'NAV.PROFILE' | translate }}</button>

    <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-secondary my-2 my-sm-0" (click)="logout()" type="submit">{{ 'NAV.LOGOUT' | translate }}</button>
    </form>
</nav>
    