a {
    color: #95999c;
    text-decoration: none;
    padding: 8px 20px;
    display: inline-block;
}

a:hover {
    color:rgb(18, 252, 57);
}

.btn-info {
    color: #95999c;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(102, 105, 107, 0.993);
}

.btn-info:hover {
    color: rgb(18, 252, 57);
    background-color: rgba(0, 0, 0, 0.534);
    border-color: rgba(163, 163, 163, 0.993);
}
