<app-general-navbar></app-general-navbar>
<app-mentor-navbar></app-mentor-navbar>
<app-modal #myModal></app-modal>

<link href="/Angular/src/app/components/skill-list/skill-list.component.css" rel="stylesheet">
<h1 style="margin:2% 0% 0% 2%">{{ 'SKILL_LIST.TITLE' | translate }}</h1>

<form style="text-align: left; margin: 5% 0% 2% 2%;" [formGroup]="searchForm" #f="ngForm" (ngSubmit)="onSubmit()">  
    <input  formControlName="search"  style="width: 90%" placeholder="{{'SKILL_LIST.SEARCHLB' | translate }}" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">{{'SKILL_LIST.SEARCHBT' | translate }}</button>
</form>


<div class="container">
    <div class="row">
        <div class="col">
            <p [ngStyle]="{ fontWeight: 'bold', fontStyle: 'italic', marginTop: '16px' }">{{ skills.length }} {{ 'SKILL_LIST.XSKILLS' | translate }} {{this.searchForm.value.search}}</p>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="25%" scope="col">{{ 'SKILL_LIST.NAME' | translate }}</th>         
                <th width="68%"  scope="col">{{ 'SKILL_LIST.DESCRIPTION' | translate }}</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            <div *ngIf="false; else skillsList">
                <p>{{ 'SKILL_LIST.NOSKILL' | translate }}</p>
            </div>
            <ng-template #skillsList>                                     
                <tr *ngFor="let skill of skills | filter:skillSearch" app-skill-row (skillDelete)="skillDeleted()" [tag]="skill"></tr>                                   
            </ng-template>
        </tbody>
    </table>
</div>
