<nav style="background-color: #6c757d" class="navbar navbar-expand-lg navbar-light">
    <a style="color: #ffffff" class="navbar-brand">Mentor</a>
    <ul class="navbar-nav mx-auto">
        <ol  class="nav justify-content-center">
            <li class="breadcrumb-item"><a style="color: #ffffff" href="#">List Mentors</a></li>
            <li class="breadcrumb-item"><a  style="color: #ffffff" href="#">Add Mentor</a></li>
            <li class="breadcrumb-item "><a  style="color:  #ffffff" href="/skills">List Skills</a></li>
            <li class="breadcrumb-item "><a  style="color: #ffffff" href="/skills/add">Add Skill</a></li>
        </ol>
    </ul>
</nav>


