
<td>
    <div  *ngIf="loan.item_type == 0 ;  ">

        {{ 'Mentor' }}   
    </div>
    <div  *ngIf="loan.item_type == 1 ;  ">

        {{ 'Room' }}   
    </div>
    <div  *ngIf="loan.item_type == 2 ;  ">

        {{ 'Book' }}   
    </div>
      
</td>
<td>

    
    <div  *ngIf="loan.item_type == 0 ;  ">
        {{ loan.mentor.firstname+ ' '+ loan.mentor.lastname}}   
    </div>
    <div  *ngIf="loan.item_type == 1;  ">
        {{ loan.room.roomIdentifier }}  
    </div>
    <div  *ngIf="loan.item_type == 2;  ">
        {{ loan.book.name }}    
    </div>      
</td>
   
<td>   
    {{loan.user.firstname + " " + loan.user.lastname}}
</td>
<td>
    {{'USER_LOAN.IN'| translate}}
    <br>
    {{ loan.rent_beginDate |date:'medium'}} 
    <br>
    {{'USER_LOAN.TO'| translate}}
    <br>
    {{ loan.rent_endDate | date:'medium' }} 
    <br> 
</td>


    <div class="col-auto">
        <div class="col-12 mt-3 pr-0" [hidden]="!isReturned">
            <br>
            {{ loan.rent_returnDate | date:'medium' }}      
            <br>
            <div [ngStyle]="{'color':thefine == 0 ? '' : 'red' }"  class="col">
                {{ loan.fine }} {{'USER_LOAN.$' | translate}}          
            </div>  
            
            <br>
                        
        </div>  
        <div [hidden]="!isAdmini">          
                <div class="col-12 mt-3 pr-0" [hidden]="isReturned">
                    <button (click)="return()" type="button" class="btn btn-secondary w-100">{{ 'USER_LOAN.RETURNBTN' | translate }}</button>                   
                </div>
        </div>
    </div>   
 

    
      