<td>
    <div class ="row">
        <div class="col">
            {{rdata.roomIdentifier}} ,
            {{rdata.location}} 
        </div> 
    </div>
</td>     
    
<td>
    <div class ="row">
        <div class="col">
            {{rdata.size}}m²
        </div> 
    </div>
</td>     
<td>
    <div class ="row">
        <div class="col">
            {{rdata.nbTimesLent}}   
        </div> 
    </div>
</td>     
<td>
    <div class ="row">
        <div class="col">
            {{rdata.percent}} %
        </div> 
    </div>
</td>
