<app-general-navbar></app-general-navbar>
<app-modal #myModal></app-modal>

<style>
  div.ex1 {
    width: 80%;
    height: 300px;
    overflow: scroll;
  }
  </style>


<div class="container">
  <form #mentorReport="ngForm" #roomReport="ngForm" #bookReport="ngForm" [formGroup]="reportForm" (ngSubmit)="generate()" >
    <div class="row">
      <div class="col-12 col-sm-8">
        <h1>{{ 'REPORTS.TITLE' | translate }}</h1>
      </div>
    </div>
    <hr>  
    <br> 
    <div class="form-row">	

      <div class="col-12 col-sm-6"> 
        <b><label for="formGroupExampleInput">{{ 'REPORTS.ITEMTYPE' | translate }}</label></b> 
        <select id="items" formControlName='items'>
          <option value="mentors">{{ 'REPORTS.MENTORS' | translate }}</option>
          <option value="rooms">{{ 'REPORTS.ROOMS' | translate }}</option>
          <option value="books">{{ 'REPORTS.BOOKS' | translate }}</option>
        </select>
      </div>
      <div class="col-12 col-sm-6"> 
        <b><label for="formGroupExampleInput">{{ 'REPORTS.TIMESELECT' | translate }}</label></b> 
        <select id="datechoice" formControlName='datechoice' (change)="datechoiceChanged($event)">
          <option value="weekly">{{ 'REPORTS.WEEKLY' | translate }}</option>
          <option value="monthly">{{ 'REPORTS.MONTHLY' | translate }}</option>
          <option value="annually">{{ 'REPORTS.ANNUALLY' | translate }}</option>
          <option value="custom">{{ 'REPORTS.CUSTOM_DATES' | translate }}</option>
        </select>
      </div>
    </div>
  <br>
  <hr>
  <div class="form-row">	
    <div class="col-12 col-sm-6"> 
      <label for="formGroupExampleInput">{{ 'REPORTS.BEGIN_DATE' | translate }}</label>
      <input type="date" formControlName="begin_date" class="form-control" (change)="datechanged()" placeholder="{{ 'REPORTS.BEGIN_DATE' | translate }}">
    </div>

    <div class="col-12 col-sm-6"> 
      <ng-container *ngIf="customSelected; else elsuBlock">
        <label for="formGroupExampleInput">{{ 'REPORTS.END_DATE' | translate }}</label>
        <input type="date" formControlName="end_date" class="form-control"   placeholder="{{ 'REPORTS.END_DATE' | translate }}">
      </ng-container>
      <ng-template #elsuBlock>
        <label for="formGroupExampleInput">{{ 'REPORTS.END_DATE' | translate }}</label>
        <input type="date" formControlName="end_date" readonly class="form-control"  placeholder="{{ 'REPORTS.END_DATE' | translate }}">
      </ng-template>
    </div>
  </div>

  <br>
  <hr>
      <div class="form-inline my-2 my-lg-0">
          <button style="color: #1b1e21 ; margin: 0% 3% 0% 2%  " class="btn btn-success" type="submit" data-toggle="tooltip" data-placement="right" title="Generates report">{{ 'REPORTS.GENERATEBTN' | translate }}</button> 
      </div>

  </form>
  <br>
  <hr>


  <div [hidden]="!submitted">
    <div class="row">
      <div class="col-12" [hidden]="!mentorSelected">
      <ng-container *ngIf="mentorSelected; ">
        <br>
        <br>
      <div class="container">
        <h2 align:center>{{ 'MENTOR_REPORT.MENTORREPORT' | translate }}</h2>
        <table class="table table-striped">
          <div class="ex1 table-dark" >
            <thead>
              <tr>
                <th scope="col">{{ 'MENTOR_REPORT.FIRSTNAME' | translate }}</th>
                <th scope="col">{{ 'MENTOR_REPORT.LASTNAME' | translate }}</th>
                <th scope="col">{{ 'MENTOR_REPORT.TOTALTIME' | translate }}</th>
                <th scope="col">{{ 'MENTOR_REPORT.AVERAGE' | translate }}</th>
                <th scope="col">{{ 'MENTOR_REPORT.MIN' | translate }}</th>
                <th scope="col">{{ 'MENTOR_REPORT.MAX' | translate }}</th>                     
              </tr>
            </thead> 

            <tbody>
              <tr  *ngFor="let data of mentorData" app-mentor-report-row [mdata]="data" ></tr>  
            </tbody>
              
          </div>
        </table>
      </div>
      </ng-container>
      </div>
    </div>
    </div>
    <!---------------------------------------------------book report-------------------------------------->
    <div [hidden]="!submitted">
      
      <div class="col-12" [hidden]="!bookSelected">
      <ng-container *ngIf="bookSelected; ">
        <br>
        <br>
      <div class="container">
        <h2 align:center>{{ 'BOOK_REPORT.BTITLE' | translate }}</h2>
        <table class="table table-striped">
          <div class="ex1 table-dark" >
            <thead> 
              <tr>
                <th  scope="col">{{ 'BOOK_REPORT.NAME' | translate }}</th>
                <th  scope="col">{{ 'BOOK_REPORT.AUTHOR' | translate }}</th> 
                <th  scope="col">{{ 'BOOK_REPORT.RENTCOUNT' | translate }}</th>  
                <th  scope="col">{{ 'BOOK_REPORT.LASTRENT' | translate }}</th>                  
              </tr>
            </thead> 

            <tbody>
              <tr  *ngFor="let data of bookData" app-book-report-row [bookdata]="data" ></tr>  
            </tbody>
            <tfoot>
              <tr>
                <th>{{ 'REPORTS.SUMMARY' | translate }}</th>
                <th></th>
               
                <th >{{ Gtotal }}</th>
             
                <th >{{LR}}</th>
              </tr>
            
            </tfoot>
          </div>
        </table>
      </div>
      </ng-container>
      </div>
    </div>
    <!---------------------------------------------------Room report-------------------------------------->
    <div [hidden]="!submitted">
  
      <div [hidden]="!roomSelected">
      <ng-container *ngIf="roomSelected; ">
        <br>
        <br>
      <div class="container">
        <h2 align:center>{{ 'ROOM_REPORT.TITLE' | translate }}</h2>
        <table class="table table-striped">
          <div class="ex1 table-dark" >
            <thead>
              <tr>
                <th width="25%" scope="col">{{ 'ROOM_REPORT.SUBTITLE' | translate }}</th>    
                <th width="25%" scope="col">{{ 'ROOM_REPORT.SIZE' | translate }}(m²)</th>
                <th width="25%" scope="col">{{ 'ROOM_REPORT.NB_TIMES_LENT' | translate }}</th>  
                <th width="25%" scope="col">{{ 'ROOM_REPORT.PERCENT' | translate }}</th>           
              </tr>
            </thead>  

            <tbody>
              <tr  *ngFor="let data of roomData" app-room-report-row [rdata]="data" ></tr>  
            </tbody>

            <tfoot>
              <tr>
                <th>{{ 'REPORTS.TOTALNBRENT' | translate }}</th>
                <th></th>
                <th>{{ total }}</th>
                <th >100%</th>
                <th ></th>
              </tr>
            </tfoot>
          </div>
        </table>
      </div>
      </ng-container>

      
          
      </div>
  </div>
</div>