<app-modal #myModal></app-modal>
<div [hidden]="!isAnAdmin"><app-general-navbar></app-general-navbar></div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" [hidden]="isAnAdmin">
    <img style="width: 20px;height: 20px;" src="assets/icon.png" alt="Icon">
    <a style="margin:0% 0% 0% 1%" class="navbar-brand" >Marbles</a>
    <select style="margin: 0% 1% 0% 84%" class="form-inline my-2 my-lg-0" #langSelect (change)="setLanguage(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>



    <form class="form-inline my-2 my-lg-0">
        <button style="margin:0% 5% 0% 1%" class="btn btn-outline-secondary my-2 my-sm-0" (click)="logout()" type="submit">{{ 'NAV.LOGOUT' | translate }}</button>
    </form>
</nav>



<link href="/Angular/src/app/components/user-loans/user-loans.component.css" rel="stylesheet">

<ng-container *ngIf="currentUser.isAdmin== true; then adminList; else userList"></ng-container>

<ng-template #adminList>
    <h1   style="margin:2% 0% 2% 2%">{{ 'USER_LOAN.TITLE' | translate }} </h1>
</ng-template>

<ng-template #userList>
    <h1 style="margin:2% 0% 2% 2%">{{ 'USER_LOAN.USERTITLE' | translate }}</h1>
</ng-template>

<div class="container">
    <div class="row">
        <div class="col">
           
        </div>
    </div>
    <table class="table table-striped" >
        <thead>
            <tr >
                <th width="15%" scope="col">{{ 'USER_LOAN.ITEMTYPE' | translate }}</th>
                <th width="10%" scope="col">{{ 'USER_LOAN.ITEMNAME' | translate }}</th>
                <th width="10%" scope="col">{{ 'USER_LOAN.USERNAME' | translate }}</th>
                <th width="15%" scope="col">{{ 'USER_LOAN.RENT' | translate }}</th>
                <th width="10%" scope="col">{{ 'USER_LOAN.RETURNED' | translate }}</th>
            </tr>
        </thead>

        <tbody>
            <div *ngIf="false; else userloans">
                <p>{{ 'USER.NOUSERSTOSHOW' | translate }}</p>
            </div>
            <ng-template #userloans >
                <tr *ngFor="let loan of loans" app-user-loans-row (loanReturn)="loanReturned()"  [loan]="loan"> </tr>
            </ng-template>
        </tbody>
    </table>
</div>
  

   
   

