<app-general-navbar></app-general-navbar>
<app-user-navbar></app-user-navbar>
<app-modal #myModal></app-modal>

<style>
  div.ex1 {
    width: 90%;
    height: 300px;
    overflow: scroll;
  }

  form.nice{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }

  input.yeet{
      max-width:700px ;
  }
</style>

<div style="margin:2% 0% 0% 2%">
    <h1>{{ 'LOAN_ADD.TITLE' | translate }}</h1>
  </div>

<form #form="ngForm" [formGroup]="rentForm" (ngSubmit)="create()" class="ms-color1-1000-even" class="nice"  >

    <div *ngIf="selecteduser!=null">
    <h4>{{ 'LOAN_ADD.USER' | translate }}{{selecteduser.firstname}} {{selecteduser.lastname}}</h4>
    </div>
    <br>
    <h4>{{ 'LOAN_ADD.item_type' | translate }}
    <select id="item_type" formControlName='item_type' (change)="typechanger($event)">
      <option value="mentor">{{ 'LOAN_ADD.MENTOR' | translate }}</option>
      <option value="room">{{ 'LOAN_ADD.ROOM' | translate }}</option>
      <option value="book">{{ 'LOAN_ADD.BOOK' | translate }}</option>
    </select>
    </h4>
    <br>


    <div [hidden]="!mentorSelected">
        <ng-container *ngIf="mentorSelected; ">
            <br>
            <h2 align:center>{{ 'LOAN_ADD.MENTOR' | translate }}</h2>
            <h4 align:center>{{ 'LOAN_ADD.CURRENT' | translate }}: {{selecteditem.name}}</h4>
            <table class="table table-striped">
                <div class="ex1 table-dark" >
                    <thead>
                        <tr>
                        <th  width="33%" scope="col">{{ 'LOAN_ADD.MENTORNAME' | translate }}</th>  
                        <th  width="33%" scope="col">{{ 'LOAN_ADD.MENTOREMAIL' | translate }}</th>  
                        <th  width="33%" scope="col">{{ 'LOAN_ADD.MENTORCONTACT' | translate }}</th>               
                        </tr>
                    </thead> 

                    <tbody>
                        <tr  *ngFor="let data of mentors" app-item-row [item]="data" (click)="onSelect(data)"></tr>  
                    </tbody>
                </div>
            </table>
        </ng-container>
    </div>

    <div [hidden]="!roomSelected">
        <ng-container *ngIf="roomSelected; ">
            <br>
                <h2 align:center>{{ 'LOAN_ADD.ROOM' | translate }}</h2>
                <h4 align:center>{{ 'LOAN_ADD.CURRENT' | translate }}: {{selecteditem.name}}</h4>
                <table class="table table-striped">
                    <div class="ex1 table-dark" >
                        <thead>
                            <tr>
                                <th  width="33%" scope="col">{{ 'LOAN_ADD.ROOMIDENTIFIER' | translate }}</th> 
                                <th  width="33%" scope="col">{{ 'LOAN_ADD.ROOMSIZE' | translate }}</th> 
                                <th  width="33%" scope="col">{{ 'LOAN_ADD.ROOMLOCATION' | translate }}</th>               
                            </tr>
                        </thead> 

                        <tbody>
                            <tr  *ngFor="let data of rooms" app-item-row [item]="data" (click)="onSelect(data)" ></tr>  
                        </tbody>
                    </div>
                </table>
        </ng-container>
    </div>

    <div [hidden]="!bookSelected">
        <ng-container *ngIf="bookSelected; ">
        <br>
                <h2 align:center>{{ 'LOAN_ADD.BOOK' | translate }}</h2>
                <h4 align:center>{{ 'LOAN_ADD.CURRENT' | translate }}: {{selecteditem.name}}</h4>
                <table class="table table-striped">
                    <div class="ex1 table-dark" >
                        <thead>
                            <tr>
                                <th  width="33%" scope="col">{{ 'LOAN_ADD.BOOKNAME' | translate }}</th> 
                                <th  width="33%" scope="col">{{ 'LOAN_ADD.AUTHOR' | translate }}</th> 
                                <th  width="33%" scope="col">{{ 'LOAN_ADD.PUBLIDATE' | translate }}</th>               
                            </tr>
                        </thead> 

                        <tbody>
                            <tr  *ngFor="let data of books" app-item-row [item]="data" (click)="onSelect(data)"></tr>  
                        </tbody>
                    </div>
                </table>
        </ng-container>
    </div>



    <br>
    <label for="formGroupExampleInput">{{ 'LOAN_ADD.BDATE' | translate }}</label>
    <input type="date" formControlName="begin_date" class="form-control" class="yeet" placeholder="{{ 'LOAN_ADD.BDATE' | translate }}">
    <label for="formGroupExampleInput">{{ 'LOAN_ADD.HOUR' | translate }}</label>
    <input type="number" formControlName="begin_hour" min="0" max="23" class="form-control" class="yeet" [class.is-invalid]="rentForm.controls.begin_hour.invalid && (rentForm.controls.begin_hour.dirty || form.submitted)" placeholder="{{ 'LOAN_ADD.HOUR' | translate }}">
    <div class="invalid-feedback">
        {{ 'LOAN_ADD.E1' | translate }}
    </div> 
    <br>
    <label for="formGroupExampleInput">{{ 'LOAN_ADD.EDATE' | translate }}</label>
    <input type="date" formControlName="end_date" class="form-control" class="yeet" placeholder="{{ 'LOAN_ADD.EDATE' | translate }}">
    <label for="formGroupExampleInput">{{ 'LOAN_ADD.HOUR' | translate }}</label>
    <input type="number" formControlName="end_hour" class="form-control" class="yeet" [class.is-invalid]="rentForm.controls.end_hour.invalid && (rentForm.controls.end_hour.dirty || form.submitted)" placeholder="{{ 'LOAN_ADD.HOUR' | translate }}">
    <div class="invalid-feedback">
        {{ 'LOAN_ADD.E1' | translate }}
    </div> 
    

    <div class="form-inline my-2 my-lg-0">
        <button style="color: #1b1e21 ; margin: 1% 3% 0% 0%  " class="btn btn-success" type="submit" data-toggle="tooltip" data-placement="right" title="create rent">{{ 'LOAN_ADD.CREATE' | translate }}</button>
        <button (click)="return()" style="margin: 1% 1% 0% 0%" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="right" title="return to user">{{ 'LOAN_ADD.RETURN' | translate }}</button> 
    </div>



    <div [hidden]="!selected">
            <br>
            <h4 align:center>{{ 'LOAN_ADD.LOANS' | translate }}</h4>
            <table class="table table-striped">
                <div class="ex1 table-dark" >
                    <thead>
                        <tr>
                        <th scope="col">{{ 'LOAN_ADD.START' | translate }}</th>  
                        <th scope="col">{{ 'LOAN_ADD.END' | translate }}</th>               
                        </tr>
                    </thead> 

                    <tbody>
                        <div *ngIf="!haveLoans; else loanslist">
                            <p>{{'LOAN_ADD.NOLOAN' | translate}}</p>
                        </div>
                        <ng-template #loanslist>                               
                            <tr  *ngFor="let loan of itemloans" app-loan-row [loan]="loan"></tr>
                        </ng-template>
                    </tbody>
                </div>
            </table>
    </div>

</form>
