.ms-color1-1000-main {
	border: 1.5pt solid silver;
}
.ms-color1-1000-even {
	border-left-style: none;
	border-right-style: none;
	border-top: .75pt solid silver;
	border-bottom-style: none;
}

.tableFixHead thead th { position: sticky; top: 0; }
.table-fixed tbody {
    height: 300px;
    overflow-y: auto;
    width: 100%;
}

table tr.highlight {
    background-color: #4CAF50 !important;
    color: #ffffff;
}

table tr.highlight2 {
    background-color: rgb(138, 90, 0) !important;
    color: #ffffff;
}
