<app-general-navbar></app-general-navbar>
<app-user-navbar></app-user-navbar>
<app-modal #myModal></app-modal>
<link href="/Angular/src/app/components/users/users.component.css" rel="stylesheet">
<h1 style="margin:2% 0% 0% 2%">{{ 'USER.USERS' | translate }}</h1>

<form style="text-align: left; margin: 5% 0% 2% 2%;" [formGroup]="searchForm" #f="ngForm" (ngSubmit)="onSubmit()">  
    <input  formControlName="search"  style="width: 80%" placeholder="{{ 'USER_LIST.SEARCHLB' | translate }}" aria-label="Search">
    <button class="btn btn-outline-success " type="submit">{{ 'USER_LIST.SEARCHBT' | translate }}</button>
</form>

<div class="container">
    <div class="row">
        <div class="col">
            <p [ngStyle]="{ fontWeight: 'bold', fontStyle: 'italic', marginTop: '16px' }">{{ users.length }} {{ 'USER.XUSERS' | translate }}</p>
        </div>
    </div>
    <table class="table table-striped" >
        <thead>
            <tr >
                <th width="25%" scope="col">{{ 'USER.PICTURE' | translate }}</th>
                <th width="68%" scope="col">{{ 'USER.NAME' | translate }}</th>
                <th width="68%" scope="col">{{ 'USER.FULLNAME' | translate }}</th>
                <th scope="col">{{ 'USER.ACTION' | translate }}</th>
            </tr>
        </thead>

        <tbody>
            <div *ngIf="false; else usersList">
                <p>{{ 'USER.NOUSERSTOSHOW' | translate }}</p>
            </div>
            <ng-template #usersList >
                <tr *ngFor="let user of users " app-user-row (userDelete)="userDeleted()" [user]="user"></tr>               
            </ng-template>
        </tbody>
    </table>
</div>
  



   

