<td>
    <div class="row">
        <div class="col">
            {{ room.roomIdentifier }}           
        </div>     
    </div>
</td>
<td>
    <div class="row">
        <div class="col">
            {{ room.location }}           
        </div>     
    </div>
</td>
<td>
    <div class="row">
        <div class="col">
            {{ room.size }}           
        </div>     
    </div>
</td>

<td>
    <div class="col-auto">
        <div class="col-12 mt-3 pr-0">
            <button (click)="view()" type="button" class="btn btn-primary w-100"data-toggle="tooltip" data-placement="top" title="view room">{{ 'ROOM_ROW.VIEW' | translate }}</button>
        </div>
        <div class="col-12 mt-3 pr-0">
            <button mat-raised-button (click)="delete()" type="button" class="btn btn-outline-danger w-100"data-toggle="tooltip" data-placement="top" title="delete room">{{ 'ROOM_ROW.DELETE' | translate }}</button>
        </div>
    </div>
</td>
