<app-general-navbar></app-general-navbar>
<app-room-navbar></app-room-navbar>

<link href="/Angular/src/app/components/book-list/books-list.component.css" rel="stylesheet">
<h1 style="margin:2% 0% 0% 2%">{{ 'ROOM_LIST.TITLE' | translate }}</h1>

<form style="text-align: left; margin: 5% 0% 2% 2%;" [formGroup]="searchForm" #f="ngForm" (ngSubmit)="onSubmit()">  
    <input  formControlName="search"  style="width: 92%" placeholder="{{ 'ROOM_LIST.SEARCHLB' | translate }}" aria-label="Search">
    <button style="margin: 0% 0% 0% 1%;" class="btn btn-outline-success " type="submit">{{ 'SERVICE_LIST.SEARCHBT' | translate }}</button>
</form>

<div class="container">
    <div class="row">
        <div class="col">
            <p [ngStyle]="{ fontWeight: 'bold', fontStyle: 'italic', marginTop: '16px' }">{{ rooms.length }} {{ 'ROOM_LIST.XROOMS' | translate }}</p>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="25%" scope="col">{{ 'ROOM_LIST.ROOMID' | translate }}</th>   
                <th width="25%" scope="col">{{ 'ROOM_LIST.LOCATION' | translate }}</th>         
                <th width="68%" scope="col">{{ 'ROOM_LIST.SIZE' | translate }}(m²)</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            <div *ngIf="false; else roomsList">
                <p>{{ 'SERVICE_LIST.NOROOMS' | translate }}</p>
            </div>
            <ng-template #roomsList>                               
                <tr  *ngFor="let room of rooms | filter:roomSearch" app-room-row (roomDelete)="roomDeleted()" [room]="room"></tr>                     
            </ng-template>
        </tbody>
    </table>
</div>

