
<td >
    <div class="row">
        <div class="col">
            <img id="myImage" src={{user.image}} style="width:100px">      
        </div>     
    </div>
</td>
<td>
    <div class="row">
        <div class="col">
            {{ user.username }}           
        </div>     
    </div>
</td>
<td>
    <div class="row">
        <div class="col">
            {{ user.firstname }} {{ user.lastname }} 
        </div>     
    </div>
</td>

<td>
    <div class="col-auto">
        <div class="col-12 mt-3 pr-0">
            <button (click)="view()" type="button" class="btn btn-primary w-100">{{ 'USER_ROW.VIEW' | translate }}</button>
        </div>
      
        <div class="col-12 mt-3 pr-0">
            <button mat-raised-button (click)="delete()" type="button" class="btn btn-outline-danger w-100">{{ 'USER_ROW.DELETE' | translate }}</button>
        </div>
    </div>
</td>
<app-modal #myModal></app-modal>