<p mat-dialog-content>{{ data }}</p>
<mat-dialog-actions align="end">
  <button mat-button matDialogClose="cancel" cdkFocusInitial color="primary">{{ "USER_MSG.CANCEL" | translate }}</button>
  <button mat-button matDialogClose="confirm" color="warn">{{ "USER_MSG.CONFIRM" | translate }}</button>
</mat-dialog-actions>
