<app-general-navbar></app-general-navbar>
<app-room-navbar></app-room-navbar>
<app-modal #myModal></app-modal>

<h1 style="margin:2% 0% 0% 2%">{{ 'SERVICE_ADD.TITLE' | translate }}</h1>
<form [formGroup]="tagForm" #form="ngForm" (ngSubmit)="create()">
	<div class="form-group">
		<input style="width: 30%; margin: 2% 0% 0% 2%" type="text" formControlName="name" required [class.is-invalid]="tagForm.controls.name.invalid && (tagForm.controls.name.dirty || form.submitted)"  class="form-control" placeholder="{{ 'SERVICE_ADD.NAME' | translate }}">
		<div class="invalid-feedback">
			{{ 'SERVICE_ADD.ENAME' | translate }}
		</div>
	</div>
	<div class="form-group ">
		<textarea  style="width: 30%; margin: 2% 0% 0% 2%" type="text" formControlName="description"  class="form-control" rows="3" placeholder="{{ 'SERVICE_ADD.DESCRIPTION' | translate }}"></textarea>
		<div class="invalid-feedback">
			{{ 'SERVICE_ADD.EDESCRIPTION' | translate }}
		</div>
	</div>
	<div class="form-inline my-2 my-lg-0">
		<button style="color: #1b1e21 ; margin: 2% 0% 0% 2% " type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="{{ 'SERVICE_ADD.CREATELB' | translate }}">{{ 'SERVICE_ADD.CREATEBT' | translate }}</button>
		<button (click)="return()" style="margin:2% 20% 0% 3%" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="{{ 'SERVICE_ADD.CANCELLB' | translate }}">{{ 'SERVICE_ADD.CANCELBT' | translate }}</button> 
	
	</div>
</form>
