<app-general-navbar></app-general-navbar>
<app-mentor-navbar></app-mentor-navbar>
<app-modal #myModal></app-modal>
<h1 style="margin:2% 0% 0% 2%">{{ 'SKILL_VIEW.TITLE' | translate }}</h1>

    <form [formGroup]="tagForm" #form="ngForm">
        <div class="form-group ">
            <input style="width: 30%; margin: 2% 0% 0% 2%" formControlName="name" required [class.is-invalid]="tagForm.controls.name.invalid && (tagForm.controls.name.dirty || form.submitted)" type="text" class="form-control" placeholder="{{ 'SKILL_VIEW.NAME' | translate }}">
            <div class="invalid-feedback">
                {{ 'SKILL_VIEW.ENAME' | translate }}
            </div>
        </div>
        
		<div class="form-group">
			<textarea style="width: 30%; margin: 2% 0% 0% 2%" formControlName="description" type="text" class="form-control" placeholder="{{ 'SKILL_VIEW.DESCRIPTION' | translate }}"></textarea>
			<div class="invalid-feedback">
				{{ 'SKILL_VIEW.EDESCRIPTION' | translate }}
			</div>
        </div>
        
        <div class="form-inline">
            <button (click)="update()" type="submit" style="margin: 2% 0% 0% 2%" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="update skill">{{ 'SKILL_VIEW.UPDATE' | translate }}</button>
            <button (click)="return()" style="margin: 2% 20% 0% 2%" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="return skill list">{{ 'SKILL_VIEW.RETURN' | translate }}</button> 
        </div>
    </form>