<app-general-navbar></app-general-navbar>
<app-book-navbar></app-book-navbar>

<link href="/Angular/src/app/components/subject-list/subject-list.component.css" rel="stylesheet">
<h1 style="margin:2% 0% 0% 2%">{{ 'SUBJECT_LIST.TITLE' | translate }}</h1>
<form style="text-align: left; margin: 5% 0% 2% 2%;" [formGroup]="searchForm" #f="ngForm" (ngSubmit)="onSubmit()">  
    <input  formControlName="search"  style="width: 90%" placeholder="{{'SUBJECT_LIST.SEARCHLB' | translate }}" aria-label="Search">
    <button class="btn btn-outline-success " type="submit">{{'SUBJECT_LIST.SEARCHBT' | translate }}</button>
</form>

<div class="container">
    <div class="row">
        <div class="col">
           <!--  <p [ngStyle]="{ fontWeight: 'bold', fontStyle: 'italic', marginTop: '16px' }">{{ subjects.length }} {{ 'SUBJECT_LIST.XSUBJECTS' | translate }}</p>-->
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="25%" scope="col">{{ 'SUBJECT_LIST.NAME' | translate }}</th>         
                <th width="68%"  scope="col">{{ 'SUBJECT_LIST.DESCRIPTION' | translate }}</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            <div *ngIf="false; else subjectsList">
                <p>{{ 'SUBJECT_LIST.NOSUBJECT' | translate }}</p>
            </div>
            <ng-template #subjectsList>                               
                <tr  *ngFor="let subject of subjects | filter:subjectSearch" app-subject-row (subjectDelete)="subjectDeleted()" [tag]="subject"></tr>                     
            </ng-template>
        </tbody>
    </table>
</div>
