<app-general-navbar></app-general-navbar>
<app-room-navbar></app-room-navbar>
<app-modal #myModal></app-modal>

<h1 style="margin:2% 0% 0% 2%">{{ 'SERVICE_VIEW.TITLE' | translate }}</h1>
<form [formGroup]="tagForm" #form="ngForm">
    <div class="form-group">
        <input style="width: 40%; margin: 2% 0% 0% 2%" formControlName="name" required [class.is-invalid]="tagForm.controls.name.invalid && (tagForm.controls.name.dirty || form.submitted)" type="text" class="form-control" placeholder="{{ 'SERVICE_VIEW.NAME' | translate }}">
        <div class="invalid-feedback">
            {{ 'SERVICE_VIEW.ENAME' | translate }}
        </div>
    </div>
    <div class="form-group">
        <textarea style="width: 40%; margin: 3% 0% 0% 2%" formControlName="description" type="text" class="form-control" rows="3" placeholder="{{ 'SERVICE_VIEW.DESCRIPTION' | translate }}"></textarea>
        <div class="invalid-feedback">
            {{ 'SERVICE_VIEW.EDESCRIPTION' | translate }}
        </div>
    </div>
    <div class="form-inline my-2 my-lg-0">
        <button (click)="update()" type="submit" style="color: #1b1e21 ; margin: 2% 0% 0% 2% " class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="update service">{{ 'SERVICE_VIEW.UPDATE' | translate }}</button>
        <button (click)="return()" style="margin:2% 20% 0% 3%" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="return service list">{{ 'SERVICE_VIEW.RETURN' | translate }}</button>
    </div>
</form>
