<app-modal #myModal></app-modal>
<head> <link href="/Angular/src/app/components/login/login.component.css" rel="stylesheet">
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img style="width: 20px;height: 20px;" src="assets/icon.png" alt="Icon">
        <a class="navbar-brand" href="/"> Marbles</a>
        <select style="margin: 0% 1% 0% 84%" class="form-inline my-2 my-lg-0" #langSelect (change)="setLanguage(langSelect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select>
        
    </nav>

    <div class="signIn text-center">
        <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(usernameInput.value, passwordInput.value)">
            <h1 class="h3 mb-3 font-weight-normal">{{ 'LOGIN.LOGINBT' | translate }}</h1>
            
            <label   for="inputUsername" class="sr-only">{{ 'LOGIN.USERNAME' | translate }}</label>
            <input class="form-control" #usernameInput ngModel username name="username" type="username" required placeholder="{{ 'LOGIN.USERNAME' | translate }}" required autofocus>

            <label for="inputPassword" class="sr-only">{{ 'LOGIN.PASSWORD' | translate }}</label>
            <input class="form-control" #passwordInput ngModel name="password"  type="password" required placeholder="{{ 'LOGIN.PASSWORD' | translate }}" required>

            <button [disabled]="loginForm.valid == false" class="btn btn-lg btn-success btn-block" type="submit">{{ 'LOGIN.LOGINBT' | translate }}</button>

            <p class="mt-5 mb-3 text-muted">&copy; {{ 'LOGIN.LEGAL' | translate }}</p>
        </form>
    </div>
</div>
