    <td>
                {{bookdata.name }}              
    </td>
    <td>   
                {{ bookdata.author }}            
    </td>
    <td>    
                {{ bookdata.totalrent }}             
    </td>
    <td>     
                {{ bookdata.lastrent }}           
    </td>

    