<nav style="background-color: #6c757d" class="navbar navbar-expand-lg navbar-light">
    <a style="color: #ffffff" class="navbar-brand">Room</a>
    <ul class="navbar-nav mx-auto">
        <ol  class="nav justify-content-center">
            <li class="breadcrumb-item"><a style="color: #ffffff" href="#">List Room</a></li>
            <li class="breadcrumb-item"><a  style="color: #ffffff" href="#">Add Room</a></li>
            <li class="breadcrumb-item "><a  style="color:#ffffff" href="/services">List Service</a></li>
            <li class="breadcrumb-item "><a  style="color: #ffffff" href="/services/add">Add Service</a></li>
        </ol>
    </ul>
</nav>


