<app-general-navbar></app-general-navbar>
<app-book-navbar></app-book-navbar>
<app-modal #myModal></app-modal>
	<h1 style="margin:2% 0% 0% 2%">{{ 'SUBJECT_ADD.TITLE' | translate }}</h1>
	
    <form [formGroup]="tagForm" (ngSubmit)="create()">
        <div class="form-group">
			<input  style="width: 30%; margin: 2% 0% 0% 2%" type="text" formControlName="name"  class="form-control" placeholder="{{ 'SUBJECT_ADD.NAME' | translate }}">
			<div class="invalid-feedback">
				{{ 'SUBJECT_ADD.ENAME' | translate }}
			</div>
        </div>
        <div class="form-group ">
			<textarea  style="width: 30%; margin: 2% 0% 0% 2%" type="text" formControlName="description"  class="form-control" rows="3" placeholder="{{ 'SUBJECT_ADD.DESCRIPTION' | translate }}"></textarea>
			<div class="invalid-feedback">
				{{ 'SUBJECT_ADD.EDESCRIPTION' | translate }}
			</div>
        </div>
        <div class="form-inline my-2 my-lg-0">
			<button style=" margin: 2% 0% 0% 2% " type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="{{ 'SUBJECT_ADD.CREATELB' | translate }}">{{ 'SUBJECT_ADD.CREATEBT' | translate }}</button>
			<button (click)="return()" style="margin:2% 20% 0% 1%" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="right" title="{{ 'SUBJECT_ADD.CANCELLB' | translate }}">{{ 'SUBJECT_ADD.CANCELBT' | translate }}</button> 
        
		</div>
	</form>
