
<app-general-navbar></app-general-navbar>
<app-book-navbar></app-book-navbar>
<app-modal #myModal></app-modal>
<style>
    div.ex1 {
        width: 50%;
        height: 250px;
        overflow: scroll;
    }     
</style>
<div class="container"> 
    <form  #form="ngForm" [formGroup]="bookForm"(ngSubmit)="update()" >
        <div class="row">
            <div class="col-12 col-sm-12">
                <h1>{{ 'BOOK_VIEW.TITLE' | translate }}</h1>
            </div>
        </div>
        <hr>  
        <br>  
        <div class="form-row">
            <div class="col-12 col-sm-6"> 
                <div class="form-row">
                    <div class="col-12">   
                        <label for="formGroupExampleInput"><b>{{ 'BOOK_VIEW.NAME' | translate }}</b></label>
                        <input formControlName="name"  required [class.is-invalid]="bookForm.controls.name.invalid && (bookForm.controls.name.dirty || form.submitted)" type="text" class="form-control"  placeholder="{{'BOOK_VIEW.EBOOKTITLE'| translate}}">
                        <div class="invalid-feedback">
                            {{ 'BOOK_VIEW.E2' | translate }}
                        </div>
                    </div>
                    <div class="col-12"> 
                        <label for="formGroupExampleInput"><b>{{ 'BOOK_VIEW.AUTHOR' | translate }}</b></label>
                        <input formControlName="author"  required [class.is-invalid]="bookForm.controls.author.invalid && (bookForm.controls.author.dirty || form.submitted)" type="text" class="form-control"  placeholder="{{'BOOK_VIEW.HOLDERAUTHOR'| translate}}">
                        <div class="invalid-feedback">
                            {{ 'BOOK_VIEW.E2' | translate }}
                        </div>
                    </div>

                    <div  class="col-12">
                        <label for="formGroupExampleInput"><b>{{ 'BOOK_VIEW.SYNOPSIS' | translate }}</b></label>
                        <textarea  formControlName="synopsis"  required [class.is-invalid]="bookForm.controls.synopsis.invalid && (bookForm.controls.synopsis.dirty || form.submitted)" type="text" class="form-control" rows="3" placeholder="{{'BOOK_VIEW.HOLDERSYNOPSIS'| translate}}"></textarea>
                        <div class="invalid-feedback">
                            {{ 'BOOK_VIEW.E3' | translate }}
                        </div>
                    </div>
                    <div class="col-12">   
                        <label for="formGroupExampleInput"><b>{{ 'BOOK_VIEW.PUBLISHEDDATE' | translate }}</b></label>
                        <input  formControlName="published_date"  required [class.is-invalid]="bookForm.controls.published_date.invalid && (bookForm.controls.published_date.dirty || form.submitted)" type="date" class="form-control" placeholder="{{'BOOK_VIEW.HOLDERPUBLISHEDDATE'| translate}}">
                        <div class="invalid-feedback">
                            {{ 'BOOK_VIEW.E4' | translate }}
                        </div>
                    </div>
                </div>
            </div>   
                    <div class="col-12 col-sm-6">
                        <div class="form-row">
                            <div class="col-12">
                                <div  *ngIf="bookForm.controls.image.invalid;">{{ 'BOOK_VIEW.E1' | translate }}</div>                      
                                <input type="file" (change)="imageSelected($event)">
                                <div class="img-space">
            
                                    <ng-container *ngIf="isImageSaved; else elseTemplate">
                                        <img [src]="imgURL" *ngIf="imgURL" style="width:200px">
                                    </ng-container>
                                    <ng-template #elseTemplate>
                                        <img id="bookimage" src={{book.image}} style="width:200px">                              
                                    </ng-template>       
                                </div>
                                <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a>
                           </div>
                        </div>                    
                    </div>
            
        </div>
            <hr>  
            <br>  
            <div class="form-row">   
                <div class="col-12 col-sm-6 ex1 table-dark">
                   <h2 align="center">{{ 'BOOK_VIEW.AVAILABLE' | translate }}</h2>

                   <table>
                        <tr *ngFor="let subject of subjects" (click)="onSelect(subject)" (mouseover)="highlightRow(subject)"
                        [ngClass] = "{'highlight' : subject.name == highlightsubject}">
                            <div class="col">
                                {{subject.name}}    
                            </div>    
                        </tr> 
                   </table>
                </div>   
           


                <div class="col-12 col-sm-6 ex1 table-dark">
                    <h2 align="center">{{ 'BOOK_VIEW.OWNED' | translate }}</h2>
                    <table>
                            <tr *ngFor="let subject of selectedsubjects" (click)="secondSelect(subject)" (mouseover)="highlightRow2(subject)"
                            [ngClass] = "{'highlight2' : subject.name == highlightselect}">
                                <div class="col">
                                    {{subject.name}}         
                                </div> 
                            </tr>

                    </table>                
                </div>
           
            </div>
        
       <div class="form-inline my-2 my-lg-0">
        <button style="color: #1b1e21 ; margin: 0% 3% 0% 2%  " class="btn btn-warning" data-toggle="tooltip" type="submit" data-placement="right" title="create a new book">{{ 'BOOK_VIEW.UPDATE' | translate }}</button>
        <button (click)="return()" style="margin:0% 1% 0% 0%" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="right" title="return to book list">{{ 'BOOK_ADD.RETURN' | translate }}</button> 
    </div>
    </form>
</div>