<nav style="background-color: #6c757d" class="navbar navbar-expand-lg navbar-light">
    <a style="color: #ffffff" class="navbar-brand">{{ 'NAVBAR_SUBJECT.TITLE' | translate }}</a>
    <ul class="navbar-nav mx-auto">
        <ol  class="nav justify-content-center">
            <li class="breadcrumb-item"><a style="color: #ffffff" href="/books">{{ 'NAVBAR_SUBJECT.LISTITEM' | translate }}</a></li>
            <li class="breadcrumb-item"><a  style="color: #ffffff" href="/books/add">{{ 'NAVBAR_SUBJECT.ADDITEM' | translate }}</a></li>
            <li class="breadcrumb-item "><a  style="color:#ffffff" href="/subjects">{{ 'NAVBAR_SUBJECT.LISTTAG' | translate }}</a></li>
            <li class="breadcrumb-item "><a  style="color: #ffffff" href="/subjects/add">{{ 'NAVBAR_SUBJECT.ADDTAG' | translate }}</a></li>
        </ol>
    </ul>
</nav>