<app-general-navbar></app-general-navbar>
<app-user-navbar></app-user-navbar>
<app-modal #myModal></app-modal>

<style>
    .auto-style1 {
        text-align: center;
    }
</style>


    <div class="container">
        <form  #form="ngForm" [formGroup]="userForm" (ngSubmit)="update()">
            <div class="row">
                <div class="col-8 col-sm-8">
                    <h1 >{{ 'USER_VIEW.VIEWUPDATE' | translate }}</h1>
                </div>
                <div class="col-4 col-sm-4">
                    <button type="button" style="margin: 5px;" (click)="newLoan()"  class="btn btn-info" margin>{{ 'USER_VIEW.RENT' | translate }}</button>
                    <button type="button" style="margin: 5px;" (click)="userLoans()"class="btn btn-info">{{ 'USER_VIEW.CURRENTRENT' | translate }}</button> 
                </div> 
            </div>
            <hr>  
            <br>    
                <div class="form-row">	
                    <div class="col-8 col-sm-6"> 
                        <div  *ngIf="userForm.controls.image.invalid; else elseBlock">{{ 'USER_VIEW.WAITING' | translate }}</div>
                        <ng-template #elseBlock ><img id="myImage" src={{user.image}} style="width:200px"></ng-template>
                        <input class="form-control" type="file" id="myImage" title="">
                    </div>
                    

                    <div class="col-12 col-sm-6">
                        <div class="form-row">	         
                            <div class="col-12 col-sm-6">           
                                <b><label for="formGroupExampleInput">{{ 'USER_VIEW.FIRSTNAME' | translate }}</label></b>    
                                <input formControlName="firstname" [class.is-invalid]="userForm.controls.firstname.invalid && (userForm.controls.firstname.dirty || form.submitted)" type="text" class="form-control" placeholder="{{ 'USER_VIEW.FIRSTNAME' | translate }}">
                                <div  class="invalid-feedback">
                                    {{ 'USER_VIEW.E2' | translate }}
                                </div>  
                            </div>  
        
                            <div class="col-12 col-sm-6">
                                <b><label for="formGroupExampleInput">{{ 'USER_VIEW.LASTNAME' | translate }}</label></b>
                                <input formControlName="lastname" [class.is-invalid]="userForm.controls.lastname.invalid && (userForm.controls.lastname.dirty || form.submitted)" type="text" class="form-control" placeholder="{{ 'USER_VIEW.LASTNAME' | translate }}">
                                <div  class="invalid-feedback">
                                    {{ 'USER_VIEW.E3' | translate }}
                                </div> 
                            </div>
                        </div>
                        <div class="form-row">	  
                            <br>
                            <div class="col-12 col-sm-12">
                                <b><label for="formGroupExampleInput">{{ 'USER_VIEW.ADDRESS' | translate }}</label></b>
                                <textarea formControlName="address" [class.is-invalid]="userForm.controls.address.invalid && (userForm.controls.address.dirty || form.submitted)" type="text" class="form-control" placeholder="{{ 'USER_VIEW.ADDRESS' | translate }}"></textarea>
                                <div  class="invalid-feedback">
                                    {{ 'USER_VIEW.E4' | translate }}
                                </div> 
                            </div> 
                        </div>    
                    </div>
                </div>

                <hr>  
                <br>

                <div class="form-row">	
                    <div class="col-12 col-sm-4">
                        <b><label for="formGroupExampleInput">{{ 'USER_VIEW.USERNAME' | translate }}</label></b>
                        <input formControlName="username"  type="text" [readonly]="true" class="form-control" placeholder="{{ 'USER_VIEW.USERNAME' | translate }}">
                    </div>  

                    <div class="col-12 col-sm-4">
                        <b><label for="formGroupExampleInput">{{ 'USER_VIEW.PASSNEW' | translate }}</label></b>
                        <input formControlName="newPass" type="password" class="form-control" placeholder="{{ 'USER_VIEW.PASSNEW' | translate }}">
                    </div> 

                    <div class="col-12 col-sm-4">
                        <b><label for="formGroupExampleInput">{{ 'USER_VIEW.PASSCONFIRM' | translate }}</label></b>
                        <input formControlName="confirmPass" [class.is-invalid]="userForm.controls.confirmPass.value!=userForm.controls.newPass.value && (userForm.controls.confirmPass.dirty && userForm.controls.newPass.dirty|| form.submitted)" type="password" class="form-control" placeholder="{{ 'USER_VIEW.PASSCONFIRM' | translate }}">
                        <div class="invalid-feedback">
                            {{ 'USER_VIEW.E5' | translate }}
                        </div>
                    </div>  
                    
                </div>

                 <hr> 

                <div class="form-row">
                    <div class="col-4">
                        <button style="color: #1b1e21" style="margin: 5px;" type="submit" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="update user">{{ 'USER_VIEW.UPDATEBT' | translate }}</button>
                        <button (click)="return()" style="margin: 5px;" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="right" title="return to users list">{{ 'USER_VIEW.CANCELBT' | translate }}</button> 
                    </div>
                </div>
        </form>
    </div>
