<app-general-navbar></app-general-navbar>
<app-room-navbar></app-room-navbar>
<app-modal #myModal></app-modal>

<link href="/Angular/src/app/components/service-list/service-list.component.css" rel="stylesheet">
<h1 style="margin:2% 0% 0% 2%">{{ 'SERVICE_LIST.TITLE' | translate }}</h1>

<form style="text-align: left; margin: 5% 0% 2% 2%;" [formGroup]="searchForm" #f="ngForm" (ngSubmit)="onSubmit()">  
    <input  formControlName="search"  style="width: 92%" placeholder="{{ 'SERVICE_LIST.SEARCHLB' | translate }}" aria-label="Search">
    <button style="margin: 0% 0% 0% 1%;" class="btn btn-outline-success " type="submit">{{ 'SERVICE_LIST.SEARCHBT' | translate }}</button>
</form>

<div class="container">
    <div class="row">
        <div class="col">
            <p [ngStyle]="{ fontWeight: 'bold', fontStyle: 'italic', marginTop: '16px' }">{{ services.length }} {{ 'SERVICE_LIST.XSERVICES' | translate }}</p>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="25%" scope="col">{{ 'SERVICE_LIST.NAME' | translate }}</th>         
                <th width="68%"  scope="col">{{ 'SERVICE_LIST.DESCRIPTION' | translate }}</th>
                <th scope="col">Action</th>
            </tr>
        </thead>


        <tbody>
            <div *ngIf="false; else servicesList">
                <p>{{ 'SERVICE_LIST.NOSERVICE' | translate }}</p>
            </div>
            <ng-template #servicesList>
                <tr *ngFor="let service of services | filter:serviceSearch" app-service-row (serviceDelete)="serviceDeleted()" [tag]="service"></tr>
            </ng-template>
        </tbody>
    </table>
</div>
