<td>
    <div class="row">
        <div class="col">
            {{ item.name }}           
        </div>     
    </div>
</td>
<td>
    <div class="row">
        <div class="col">
            {{ item.info1 }}           
        </div>     
    </div>
</td>
<td>
    <div class="row">
        <div class="col">
            {{ item.info2 }}           
        </div>     
    </div>
</td>