<app-general-navbar></app-general-navbar>
<app-mentor-navbar></app-mentor-navbar>
<app-modal #myModal></app-modal>
<link href="/Angular/src/app/components/mentor-list/mentor-list.component.css" rel="stylesheet">
<h1 style="margin:2% 0% 0% 2%">{{ 'MENTOR_LIST.TITLE' | translate }}</h1>


<div class="container">

    <form style="text-align: left; margin: 5% 0% 2% 2%;" [formGroup]="searchForm" #f="ngForm" (ngSubmit)="onSubmit()">  
        <input  formControlName="search"  style="width: 90%" placeholder="{{ 'MENTOR_LIST.SEARCHLB' | translate }}" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">{{ 'MENTOR_LIST.SEARCHBT' | translate }}</button>
    </form>

    <div class="row">
        <div class="col">
            <p [ngStyle]="{ fontWeight: 'bold', fontStyle: 'italic', marginTop: '16px' }">{{ mentors.length }} {{ 'MENTOR_LIST.MENTORS' | translate }} {{this.searchForm.value.search}}</p>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="25%" scope="col">{{ 'MENTOR_LIST.FIRSTNAME' | translate }}</th>         
                <th width="25%"  scope="col" >{{ 'MENTOR_LIST.LASTNAME' | translate }}</th>
                <th width="30%"  scope="col" >{{ 'MENTOR_LIST.CONTACTNUMBER' | translate }}</th>
                <th width="68%"  scope="col" >{{ 'MENTOR_LIST.EMAIL' | translate }}</th>
                <th scope="col">{{ 'MENTOR_LIST.ACTION' | translate }}</th>
            </tr>
        </thead>

        <tbody>
            <div *ngIf="false; else mentorsList">
                <p>{{ 'MENTOR_LIST.NOMENTORS' | translate }}</p>
            </div>
            <ng-template #mentorsList>                               
                <tr  *ngFor="let mentor of mentors" app-mentor-row (mentorDelete)="mentorDeleted()" [mentor]="mentor"></tr>                     
            </ng-template>
        </tbody>
    </table>
</div>


