<nav style="background-color: #6c757d" class="navbar navbar-expand-lg navbar-light">
    <a style="color: #ffffff" class="navbar-brand">{{ 'NAVBAR_SKILL.TITLE' | translate }}</a>
    <ul class="navbar-nav mx-auto">
        <ol  class="nav justify-content-center">
            <li class="breadcrumb-item"><a style="color: #ffffff" href="/mentors">{{ 'NAVBAR_SKILL.LISTITEM' | translate }}</a></li>
            <li class="breadcrumb-item"><a  style="color: #ffffff" href="/mentors/add">{{ 'NAVBAR_SKILL.ADDITEM' | translate }}</a></li>
            <li class="breadcrumb-item "><a  style="color:#ffffff" href="/skills">{{ 'NAVBAR_SKILL.LISTTAG' | translate }}</a></li>
            <li class="breadcrumb-item "><a  style="color: #ffffff" href="/skills/add">{{ 'NAVBAR_SKILL.ADDTAG' | translate }}</a></li>
        </ol>
    </ul>
</nav>
