<nav style="background-color: #6c757d" class="navbar navbar-expand-lg navbar-light">
    <a style="color: #ffffff" class="navbar-brand">Book</a>
    <ul class="navbar-nav mx-auto">
        <ol  class="nav justify-content-center">
            <li class="breadcrumb-item"><a style="color: #ffffff" href="#">List Books</a></li>
            <li class="breadcrumb-item"><a  style="color: #ffffff" href="#">Add Book</a></li>
            <li class="breadcrumb-item "><a  style="color:#ffffff" href="/subjects">List Subjects</a></li>
            <li class="breadcrumb-item "><a  style="color: #ffffff" href="/subjects/add">Add Subject</a></li>
        </ol>
    </ul>
</nav>



