<app-general-navbar></app-general-navbar>
<app-room-navbar></app-room-navbar>
<app-modal #myModal></app-modal>

<style>
    div.ex1 {
      width: 50%;
      height: 250px;
      overflow: scroll;
    }
    
</style>


<div class="container">
    <form #form="ngForm" [formGroup]="roomForm" (ngSubmit)="create()">
        <div class="row">
            <div class="col-12 col-sm-12">
                <h1>{{ 'ROOM_ADD.TITLE' | translate }}</h1>
            </div>
        </div>
        <hr>  
        <br>    
        <div class="form-row">	
            <div class="col-12 col-sm-6"> 
                <div class="form-row">
                    <div class="col-12"> 
                        <label for="formGroupExampleInput"><b>{{ 'ROOM_ADD.ROOMID' | translate }}</b></label>
                        <input formControlName="roomIdentifier" required [class.is-invalid]="roomForm.controls.roomIdentifier.invalid && (roomForm.controls.roomIdentifier.dirty || form.submitted)" type="text" class="form-control" placeholder="{{ 'ROOM_ADD.ROOMID' | translate }}">
                        <div class="invalid-feedback">
                            {{ 'ROOM_VIEW.WARNING' | translate }}
                        </div>
                    </div>
                    <div class="col-12"> 
                        <label for="formGroupExampleInput"><b>{{ 'ROOM_ADD.LOCATION' | translate }}</b></label>
                        <input formControlName="location" required [class.is-invalid]="roomForm.controls.location.invalid && (roomForm.controls.location.dirty || form.submitted)" type="text" class="form-control" placeholder="{{ 'ROOM_ADD.LOCATION' | translate }}"> 
                        <div class="invalid-feedback">
                            {{ 'MENTOR_VIEW.E2' | translate }}
                        </div>
                    </div>
                    <div class="col-12"> 
                        <label for="formGroupExampleInput"><b>{{ 'ROOM_ADD.SIZE' | translate }}</b></label>
                        <input formControlName="size" required [class.is-invalid]="roomForm.controls.size.invalid && (roomForm.controls.size.dirty || form.submitted)" type="text" class="form-control" placeholder="{{ 'ROOM_ADD.SIZE' | translate }}">  
                        <div class="invalid-feedback">
                            {{ 'ROOM_ADD.E2' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-row">
                    <div class="col-12">
                    <div  *ngIf="roomForm.controls.image.invalid;">{{ 'ROOM_VIEW.WARNING' | translate }}</div>
                
                    <input type="file" (change)="imageSelected($event)">
                    <div class="img-space">
                        <ng-container *ngIf="isImageSaved;">
                            <img [src]="imgURL" *ngIf="imgURL" style="width:200px">
                        </ng-container>
                    </div>
                    <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>  
        <br> 
  

            
        <div class="form-row">   
            <div class="col-12 col-sm-6 ex1 table-dark">
                <h2 align="center">{{ 'ROOM_ADD.ALLTAGS' | translate }}</h2>
                <table>
                    <tr *ngFor="let service of services" (click)="onSelect(service)" (mouseover)="highlightRow(service)"
                    [ngClass] = "{'highlight' : service.name == highlightservice}">
                        <div class="col">
                            {{service.name}}     
                        </div>    
                    </tr> 
                </table>
            </div>
            <div class="col-12 col-sm-6 ex1 table-dark">
                <h2 align="center">{{ 'ROOM_ADD.SELECTEDTAGS' | translate }}</h2>
                <table>
                    <tr *ngFor="let service of selectedservices" (click)="secondSelect(service)" (mouseover)="highlightRow2(service)"
                        [ngClass] = "{'highlight2' : service.name == highlightservice}">
                        <div class="col">
                            {{service.name}}          
                        </div> 
                    </tr>
                </table>
            </div>
        </div>
        <hr>  
        
        <div class="form-inline my-2 my-lg-0">
            <button style="color: #1b1e21 ; margin: 0% 3% 0% 2%  " class="btn btn-success" type="submit" data-toggle="tooltip" data-placement="right" title="create a new room">{{ 'ROOM_ADD.CREATE' | translate }}</button>
            <button (click)="return()" style="margin:0% 1% 0% 0%" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="right" title="return to room list">{{ 'ROOM_ADD.CANCEL' | translate }}</button> 
        </div>
    </form>
</div>



