<td>
    <div class="row">
        <div class="col">
            {{ start }}           
        </div>     
    </div>
</td>
<td>
    <div class="row">
        <div class="col">
            {{ end }}           
        </div>     
    </div>
</td>