<td>
    <div class ="row">
        <div class="col">
            {{mdata.firstname}}    
        </div> 
    </div>
</td>     
<td>
    <div class ="row">
        <div class="col">
            {{mdata.lastname}}    
        </div> 
    </div>
</td>     
<td>
    <div class ="row">
        <div class="col">
            {{mdata.total}}    
        </div> 
    </div>
</td>     
<td>
    <div class ="row">
        <div class="col">
            {{Hammertime}}h {{Mastertime}}m      
        </div> 
    </div>
</td>     
<td>
    <div class ="row">
        <div class="col">
            {{mdata.min}}    
        </div> 
    </div>
</td> 
<td>
    <div class ="row">
        <div class="col">
            {{mdata.max}}    
        </div> 
    </div>
</td>  
