<app-general-navbar></app-general-navbar>
<app-book-navbar></app-book-navbar>

<link href="/Angular/src/app/components/book-list/books-list.component.css" rel="stylesheet">
<h1 style="margin:2% 0% 0% 2%">{{'BOOK_LIST.TITLE'| translate }}</h1>
<form style="text-align: left; margin: 5% 0% 2% 2%;" [formGroup]="searchForm" #f="ngForm" (ngSubmit)="onSubmit()">  
    <input  formControlName="search"  style="width: 90%" placeholder="{{ 'BOOK_LIST.SEARCHLB' | translate }}" aria-label="Search">
    <button class="btn btn-outline-success " type="submit">{{ 'BOOK_LIST.SEARCHBT' | translate }}</button>
</form>
<div class="container">
    <div class="row">
        <div class="col">
            <p [ngStyle]="{ fontWeight: 'bold', fontStyle: 'italic', marginTop: '16px' }">{{ books.length }}{{'BOOK_LIST.COMPOSE'| translate}}  {{this.searchForm.value.search}} </p>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th  width="25%" scope="col">{{'BOOK_LIST.NAME'| translate}}</th>         
                <th width="68%"  scope="col" >{{'BOOK_LIST.SYNOPSIS'| translate}}</th>
                <th scope="col">{{'BOOK_LIST.ACTION'| translate}}</th>
            </tr>
        </thead>

        <tbody>
            <div *ngIf="false; else booksList">
                <p>{{'BOOK_LIST.NOBOOKS'| translate}}</p>
            </div>
            <ng-template #booksList>                               
                <tr  *ngFor="let book of books " app-book-row (bookDelete)="bookDeleted()" [book]="book"></tr>                     
            </ng-template>
        </tbody>
    </table>
</div>

