<nav style="background-color: #6c757d" class="navbar navbar-expand-lg navbar-light">
    <a style="color: #ffffff" class="navbar-brand">{{ 'NAVBAR_USER.TITLE' | translate }}</a>
    <ul class="navbar-nav mx-auto">
        <ol  class="nav justify-content-center">
            <li class="breadcrumb-item"><a style="color: #ffffff" href="/users">{{ 'NAVBAR_USER.LISTUSERS' | translate }}</a></li>
            <li  class="breadcrumb-item"><a  style="color: #ffffff" href="/users/add">{{ 'NAVBAR_USER.ADDUSERS' | translate }}</a></li>
        </ol>
    </ul>
</nav>