.ms-color1-1000-main {
	border: 1.5pt solid silver;
}
.ms-color1-1000-even {
	border-left-style: none;
	border-right-style: none;
	border-top: .75pt solid silver;
	border-bottom-style: none;
}

.tableFixHead thead th { position: sticky; top: 0; }
.table-fixed tbody {
    height: 300px;
    overflow-y: auto;
    width: 100%;
}

table tr.highlight {
    background-color: #4CAF50 !important;
    color: #ffffff;
}

table tr.highlight2 {
    background-color: rgb(138, 90, 0) !important;
    color: #ffffff;
}

.image-wrap {
    padding: 10px;
    border: solid 1px #e0e0e0;
    display: inline-block;
}
 
.img-space {
    border: dashed 1px #d3d3d3;
    border-radius: 8px;
    background-color: #f2f2f2;
    height: auto;
    width: 100%;
    padding: 10px;
    min-height:175px;
}
 
.img-space img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    cursor: pointer;
}
 
.fileInputProfileWrap {
    width: 100%;
    height: auto;
}
 
.fileInputProfile {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: 0;
}
.fileInputProfile[disabled] + .img-space{
    pointer-events: none;
    cursor: not-allowed!important;
}