<app-general-navbar></app-general-navbar>
<app-mentor-navbar></app-mentor-navbar>
<app-modal #myModal></app-modal>

<style>
div.ex1 {
  width: 50%;
  height: 250px;
  overflow: scroll;
}
</style>


<div class="container">
    <form  #form="ngForm" [formGroup]="mentorForm" (ngSubmit)="create()">
        <div class="row">
            <div class="col-12 col-sm-12">
                <h1>{{ 'MENTOR_ADD.TITLE' | translate }}</h1>
            </div>
        </div>
        <hr>  
        <br>    
        <div class="form-row">	
            <div class="col-12 col-sm-6"> 
                <div class="form-row">
                    <div class="col-12"> 
                        <label for="formGroupExampleInput"><b>{{ 'MENTOR_VIEW.FIRSTNAME' | translate }}</b></label>
                        <input formControlName="firstname" required [class.is-invalid]="mentorForm.controls.firstname.invalid && (mentorForm.controls.firstname.dirty || form.submitted)" type="text" class="form-control" placeholder="{{ 'MENTOR_VIEW.FIRSTNAME' | translate }}">
                        <div class="invalid-feedback">
                            {{ 'MENTOR_VIEW.E1' | translate }}
                        </div>
                    </div>
                    <div class="col-12"> 
                        <label for="formGroupExampleInput"><b>{{ 'MENTOR_VIEW.LASTNAME' | translate }}</b></label>
                        <input formControlName="lastname" required [class.is-invalid]="mentorForm.controls.lastname.invalid && (mentorForm.controls.lastname.dirty || form.submitted)" type="text" class="form-control" placeholder="{{ 'MENTOR_VIEW.LASTNAME' | translate }}"> 
                        <div class="invalid-feedback">
                            {{ 'MENTOR_VIEW.E2' | translate }}
                        </div>
                    </div>
                    <div class="col-12"> 
                        <label for="formGroupExampleInput"><b>{{ 'MENTOR_VIEW.EMAIL' | translate }}</b></label>
                        <input formControlName="email" required [class.is-invalid]="mentorForm.controls.email.invalid && (mentorForm.controls.email.dirty || form.submitted)" type="email" class="form-control" placeholder="{{ 'MENTOR_VIEW.EMAIL' | translate }}">  
                        <div class="invalid-feedback">
                            {{ 'MENTOR_VIEW.E3' | translate }}
                        </div>
                    </div>
                    <div class="col-12"> 
                        <label for="formGroupExampleInput"><b>{{ 'MENTOR_VIEW.CONTACTNUMBER' | translate }}</b></label>
                        <input formControlName="contactNumber" numbersOnly type="text"[class.is-invalid]="mentorForm.controls.contactNumber.invalid && (mentorForm.controls.contactNumber.dirty || form.submitted)" type="tel" class="form-control" class="form-control" placeholder="{{ 'MENTOR_VIEW.CONTACTNUMBER' | translate }}"> 
                        <div class="invalid-feedback">
                            {{ 'MENTOR_VIEW.E4' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-row">
                    <div class="col-12">
                    <div  *ngIf="mentorForm.controls.image.invalid;">{{ 'MENTOR_VIEW.WARNING' | translate }}</div>
                
                    <input type="file" (change)="imageSelected($event)">
                    <div class="img-space">
                        <ng-container *ngIf="isImageSaved;">
                            <img [src]="imgURL" *ngIf="imgURL" style="width:200px">
                        </ng-container>
                    </div>
                    <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">{{ 'USER_ADD.REMOVE' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>  
        <br> 
  

            
        <div class="form-row">   
            <div class="col-12 col-sm-6 ex1 table-dark">
                <h2 align="center">{{ 'MENTOR_ADD.SKILLLIST' | translate }}</h2>
                <table>
                    <tr *ngFor="let skill of skills" (click)="onSelect(skill)" (mouseover)="highlightRow(skill)"
                    [ngClass] = "{'highlight' : skill.name == highlightskill}">
                        <div class="col">
                            {{skill.name}}    
                        </div>    
                    </tr> 
                </table>
            </div>
            <div class="col-12 col-sm-6 ex1 table-dark">
                <h2 align="center">{{ 'MENTOR_ADD.SELECTED_SKILLS' | translate }}</h2>
                <table>
                    <tr *ngFor="let skill of selectedskills" (click)="secondSelect(skill)" (mouseover)="highlightRow2(skill)"
                        [ngClass] = "{'highlight2' : skill.name == highlightselect}">
                        <div class="col">
                            {{skill.name}}         
                        </div> 
                    </tr>
                </table>
            </div>
        </div>
        <hr>  
        
        <div class="form-inline my-2 my-lg-0">
            <button style="color: #1b1e21 ; margin: 0% 3% 0% 2%  " class="btn btn-success" type="submit" data-toggle="tooltip" data-placement="right" title="create a new mentor">{{ 'MENTOR_ADD.CREATE' | translate }}</button>
            <button (click)="return()" style="margin:0% 1% 0% 0%" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="right" title="return to mentor list">{{ 'MENTOR_ADD.RETURN' | translate }}</button> 
        </div>
    </form>
</div>